.section {
    background-color: #fff;
    box-shadow: 0 2px #eee;
    display: flex;
    flex-direction: column;
    max-width: 900px;
    margin: 10px 0;
    border: 1px solid #e2e2e2;
    padding: 5px 20px;
}

.section__header {
    font-weight: 700;
}

@media (max-width: 767px) {
    .section__header {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
}

.section__title {
    font-size: 20px;
    margin: 0;
}

.section__body {
    padding: 20px;
}