.form {
    padding: 10px 0;
    justify-content: space-between;
    display: flex;
}

.form__input {
    width: 100%;
    padding: 8px;
    display: flex;
    align-self: center;
    border: 2px solid #e2e2e2;
}

.form__button {
    background-color: #027381;
    color: #fff;
    padding: 10px;
    margin-left: 20px;
    width: 200px;
    background: hsl(250, 100%, 25%);
    border: none;
    transition: 0.3s;
    cursor: pointer;
}

.form__button:hover {
    background: hsl(250, 100%, 30%);
    transform: scale(1.1);
}

.form__button:active {
    background: hsl(250, 100%, 35%);
}

@media (max-width: 767px) {
    .form {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    .form__button {
        width: 100%;
        margin: 10px 0;
    }
}