.buttons__button {
    color: hsl(250, 100%, 25%);
    border: none;
    background-color: transparent;
    transition: 0.5s;
}

@media (max-width: 767px) {
    .buttons__button {
        flex-basis: 100%;
        margin: 10px;
    }
}

.buttons__button:hover {
    color: hsl(250, 100%, 70%);
}

.buttons__button:disabled {
    color: #ccc;
}